@media screen and (width < 1320px) {
  /*accommodations*/
  section.accommodations div.our-accommodations{
    padding-left: 30px;
  }

  div.our-accommodations h2{
    letter-spacing: 1px;
    font-size: 24px;
  }

  div.our-accommodations div.types_of_accommodations{
    padding-left: 30px;
  }

  div.types_of_accommodations div.type-single{
    padding-bottom: 30px;
  }

  div.type-single fa-icon{
    padding-right: 15px;
  }

  aside img{
    height: 500px;
  }

  /*depoiments*/
  section.depoiments h2{
    font-size: 24px;
    letter-spacing: 4px;
  }

  div.row button{
    padding: 6px 10px;
    border: 2px solid #e46060be;
    border-radius: 10px;
    font-size: 16px;
  }

  div.comments div.comments-single{
    width: 250px;
    height: 260px;
  }

  div.comments div.comments-single p{
    font-size: 15px;
  }

  div.comments-single div.stars fa-icon{
    padding-right: 8px;
    font-size: 19px;
  }
}

@media screen and (width < 1120px){
  /*depoiments*/
  section.depoiments div.row{
    padding: 0 40px 80px 40px;
  }

  div.comments{
    flex-direction: column;
  }

  div.comments div.comments-single{
    width: 300px;
    height: 300px;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  div.comments-single div.comment p{
    font-size: 17px;
  }

  div.comments-single div.stars fa-icon{
    padding-right: 10px;
    font-size: 21px;
  }

  /*informatons*/
  section.informations{
    padding-bottom: 50px;
    padding-left: 0px;
  }

  section.informations > h2{
    font-size: 24px;
    letter-spacing: 2px;
    padding-bottom: 30px;
    text-align: center;
  }

  div.information-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.information-row > div{
    margin-bottom: 30px;
  }

  div.rules,div.cancellation-policy{
    padding: 0 20px;
  }

  div.rules div.title h2,div.cancellation-policy div.title h2{
    font-size: 21px;
  }

  div.rules ul li,div.cancellation-policy ul li{
    font-size: 16px;
    width: 400px;
    max-width: 95%;
  }
}

@media screen and (width < 1030px){
  /*accommodations*/
  section.accommodations{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section.accommodations div.our-accommodations{
    width: 100%;
    padding-left: 0px;
    text-align: center;
  }

  div.our-accommodations div.types_of_accommodations{
    padding-left: 0px;
  }

  div.types_of_accommodations div.type-single{
    text-align: left;
    width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-40%);
  }

  div.type-single:nth-of-type(2) fa-icon:nth-child(1),div.type-single:nth-of-type(2) fa-icon:nth-child(2), div.type-single:nth-of-type(2) span{
    position: relative;
    right: 35px;
  }

  section.accommodations aside{
    width: 100%;
    height: 100%;
  }

  aside img{
    height: 100%;
    width: 100%;
    position: relative;
    left: 0%;
    transform: translateX(0%);
  }
}

@media screen and (width < 890px) {
  /*welcome*/
  section.welcome h1{
    font-size: 40px;
    letter-spacing: 20px;
    padding-bottom: 60px;
  }

  section.welcome p{
    padding: 0 50px;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 50px;
  }

  /*welcome more*/
  div.welcome-more-wrapper{
    padding: 30px 0px 60px 20px;
  }

  div.welcome-more-wrapper h2{
    font-size: 24px;
  }
}

@media screen and (width < 620px) {
  /*welcome*/
  section.welcome h1{
    font-size: 27px;
    letter-spacing: 15px;
    padding-bottom: 50px;
  }

  section.welcome p{
    padding: 0 20px;
    line-height: 22px;
    padding-bottom: 40px;
  }

  /*welcome more*/
  div.welcome-more-wrapper{
    padding: 30px 10px 60px 10px;
  }

  div.welcome-more-wrapper h2{
    font-size: 21px;
  }

  div.welcome-more-wrapper p{
    font-size: 14px;
    padding: 0;
    text-align: justify;
  }

  /*depoiments*/
  section.depoiments h2{
    font-size: 21px;
    letter-spacing: 2px;
  }

  section.depoiments div.row{
    padding: 0 20px 80px 20px;
  }

  div.row span fa-icon{
    padding-right: 5px;
  }

  div.row button{
    font-size: 15px;
  }

  /*location*/
  section.location div.address{
    padding-left: 0px;
  }

  div.address h2{
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
  }

  div.address p{
    font-size: 16px;
    text-align: center;
  }

  div.address p fa-icon{
    font-size: 17px;
  }
}

@media screen and (width < 460px) {
  /*welcome*/
  section.welcome h1{
    font-size: 24px;
    letter-spacing: 10px;
    padding-bottom: 40px;
  }

  section.welcome p{
    padding: 0 10px;
    text-align: justify;
    padding-bottom: 30px;
  }

  /*welcome more*/
  div.welcome-more-wrapper{
    padding: 30px 5px 60px 5px;
  }

  div.welcome-more-wrapper h2{
    font-size: 18px;
    letter-spacing: 2px;
  }

  div.welcome-more-wrapper p{
    font-size: 12px;
  }

  /*accommodations*/
  div.our-accommodations h2{
    letter-spacing: 1px;
    font-size: 21px;
  }

  div.types_of_accommodations div.type-single{
    width: 280px;
  }

  div.type-single fa-icon{
    font-size: 19px;
    padding-right: 10px;
  }

  div.type-single span{
    font-size: 15px;
  }

  div.type-single:nth-of-type(2) fa-icon:nth-child(1),div.type-single:nth-of-type(2) fa-icon:nth-child(2), div.type-single:nth-of-type(2) span{
    position: relative;
    right: 26px;
  }

  /*depoiments*/
  section.depoiments h2{
    font-size: 18px;
    letter-spacing: 1px;
  }

  section.depoiments div.row{
    padding: 0 10px 60px 10px;
  }

  div.row span{
    font-size: 15px;
  }

  div.row button{
    font-size: 14px;
  }

  /*location*/
  div.address h2{
    font-size: 21px;
    letter-spacing: 1px;
  }

  div.address p{
    font-size: 15px;
  }

  div.address p fa-icon{
    font-size: 16px;
  }

  /*informatons*/
  section.informations{
    padding-bottom: 40px;
  }

  section.informations > h2{
    font-size: 21px;
    letter-spacing: 1px;
  }

  div.rules,div.cancellation-policy{
    padding: 0 10px;
  }

  div.rules div.title h2,div.cancellation-policy div.title h2{
    font-size: 18px;
  }

  div.rules ul li,div.cancellation-policy ul li{
    font-size: 14px;
    text-align: justify;
    max-width: 100%;
    width: 250px;
  }
}

@media screen and (width < 360px) {
  /*welcome*/
  section.welcome h1{
    font-size: 21px;
    letter-spacing: 4px;
    padding-bottom: 30px;
  }

  section.welcome p{
    padding: 0 5px;
    text-align: justify;
    padding-bottom: 25px;
  }

  /*welcome more*/
  div.welcome-more-wrapper h2{
    font-size: 17px;
    letter-spacing: 1px;
  }

  /*accommodations*/
  div.our-accommodations h2{
    letter-spacing: 0px;
    font-size: 18px;
  }

  div.types_of_accommodations div.type-single{
    width: 230px;
  }

  div.type-single fa-icon{
    font-size: 16px;
    padding-right: 5px;
  }

  div.type-single span{
    font-size: 14px;
  }

  div.type-single:nth-of-type(2) fa-icon:nth-child(1),div.type-single:nth-of-type(2) fa-icon:nth-child(2), div.type-single:nth-of-type(2) span{
    position: relative;
    right: 20px;
  }

  /*depoiments*/
  section.depoiments h2{
    letter-spacing: 0px;
  }

  div.row span{
    font-size: 14px;
  }

  div.row button{
    font-size: 12px;
    padding: 6px;
  }

  section.depoiments div.row{
    padding: 0 5px 60px 5px;
  }

  div.comments div.comments-single{
    width: 250px;
    height: 250px;
  }

  div.comments-single div.comment p{
    font-size: 14px;
  }

  div.comments-single div.stars fa-icon{
    padding-right: 8px;
    font-size: 18px;
  }

  /*location*/
  div.address h2{
    font-size: 18px;
    letter-spacing: 1px;
  }

  div.address p{
    font-size: 14px;
  }

  div.address p fa-icon{
    font-size: 15px;
  }

  /*informatons*/

  section.informations > h2{
    font-size: 17px;
    letter-spacing: 0px;
  }

  div.rules,div.cancellation-policy{
    padding: 0 5px;
  }

  div.rules div.title h2,div.cancellation-policy div.title h2{
    font-size: 15px;
  }

  div.rules ul li,div.cancellation-policy ul li{
    font-size: 12px;
    text-align: justify;
    max-width: 100%;
    width: 220px;
  }
}

@media screen and (width < 300px){
 /*accommodations*/
  div.our-accommodations h2{
    font-size: 16px;
  }

  div.types_of_accommodations div.type-single{
    width: 210px;
  }

  div.type-single fa-icon{
    font-size: 15px;
    padding-right: 5px;
  }

  div.type-single span{
    font-size: 12px;
  }

  div.type-single:nth-of-type(2) fa-icon:nth-child(1),div.type-single:nth-of-type(2) fa-icon:nth-child(2), div.type-single:nth-of-type(2) span{
    position: relative;
    right: 18px;
  }
}
