<div class="index-container">
  <header>
    <app-header></app-header>
  </header>

  <main>
    <section class="welcome">
      <h1>HOTEL PRAIANO</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem perferendis quibusdam dolorum qui totam id aliquid eius minus, eveniet in sit voluptatem quisquam inventore nam consequuntur quod, sunt voluptate corporis.</p>
      <button type="button" (click)="down()">Veja mais <fa-icon [icon]="chevronDown"></fa-icon></button>
    </section><!--welcome-->

    <section class="welcome-more" id="welcome_more">
      <img src="../../../../assets/inicial.jpg" alt="inicial">

      <div class="welcome-more-wrapper">
        <h2>Fique Mais,Pague Menos!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dignissimos aliquam repudiandae, unde debitis eligendi natus labore suscipit laudantium qui architecto eum mollitia asperiores sit quo, perferendis ipsam! Commodi, numquam!</p>
      </div><!--welome-more-wrapper-->

    </section><!--welcome-more-->

    <section class="accommodations" id="accommodation">
      <div class="our-accommodations">
        <div class="title">
          <h2>Algumas acomodações incluidas:</h2>
        </div><!--title-->

        <div class="types_of_accommodations">
          <div class="type-single">
            <fa-icon [icon]="wifi"></fa-icon>
            <span>Wifi Gratuito</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon [icon]="parking"></fa-icon>
            <fa-icon [icon]="bike"></fa-icon>
            <span>Estacionamento de bicicletas gratuito</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon [icon]="pet"></fa-icon>
            <span>Permitido pets</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon [icon]="breakfeast"></fa-icon>
            <span>Café da Manhã</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon [icon]="coffee"></fa-icon>
            <span>Comodidades para fazer café/chá em todos quartos</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon [icon]="wind"></fa-icon>
            <span>Ar condicionado</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon [icon]="house"></fa-icon>
            <span>Todas casas com suítes</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon [icon]="utensils"></fa-icon>
            <span>Restaurante/Bar</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon [icon]="acessibility"></fa-icon>
            <span>Facilidades para pessoas com deficiência</span>
          </div><!--type-single-->
        </div><!--types_of_accommodations-->
      </div><!--our-accommodations-->

      <aside>
        <img src="../../../../assets/casa.jpg" alt="casa">
      </aside>
    </section><!--accommodations-->

    <section class="depoiments" id="depoiments">
      <h2>Depoimento de nossos clientes</h2>

      <div class="row">
        <span><fa-icon [icon]="star"></fa-icon> 4.8 / 5 </span>

        <button type="button">Veja todos os 44 comentários</button>
      </div><!--row-->

      <div class="comments">
        <div class="comments-single">
          <div class="name">
            <h3>Tara</h3>
          </div><!--name-->
          <div class="date">
            <p>22 Maio,2023</p>
          </div><!--date-->

          <div class="comment">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut recusandae impedit ab accusantium? Rem autem officia sed obcaecati, animi amet esse laborum laudantium, nemo eius dolorem, quam illum quaerat.</p>
          </div><!--comment-->

          <div class="stars">
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
          </div><!--stars-->
        </div><!--comments-single-->

        <div class="comments-single">
          <div class="name">
            <h3>Tara</h3>
          </div><!--name-->
          <div class="date">
            <p>22 Maio,2023</p>
          </div><!--date-->

          <div class="comment">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut recusandae impedit ab accusantium? Rem autem officia sed obcaecati, animi amet esse laborum laudantium, nemo eius dolorem, quam illum quaerat.</p>
          </div><!--comment-->

          <div class="stars">
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
          </div><!--stars-->
        </div><!--comments-single-->

        <div class="comments-single">
          <div class="name">
            <h3>Tara</h3>
          </div><!--name-->
          <div class="date">
            <p>22 Maio,2023</p>
          </div><!--date-->

          <div class="comment">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut recusandae impedit ab accusantium? Rem autem officia sed obcaecati, animi amet esse laborum laudantium, nemo eius dolorem, quam illum quaerat.</p>
          </div><!--comment-->

          <div class="stars">
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
          </div><!--stars-->
        </div><!--comments-single-->

        <div class="comments-single">
          <div class="name">
            <h3>Tara</h3>
          </div><!--name-->
          <div class="date">
            <p>22 Maio,2023</p>
          </div><!--date-->

          <div class="comment">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut recusandae impedit ab accusantium? Rem autem officia sed obcaecati, animi amet esse laborum laudantium, nemo eius dolorem, quam illum quaerat.</p>
          </div><!--comment-->

          <div class="stars">
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
          </div><!--stars-->
        </div><!--comments-single-->
      </div><!--comments-->
    </section><!--depoiments-->

    <section class="location" id="location">
      <div class="address">
        <h2>Aonde estamos localizado:</h2>

        <p><fa-icon [icon]="thumbtack"></fa-icon> Itacimirim,Camaçari-Bahia</p>
      </div><!--address-->
    </section><!--location-->

    <section class="informations">
      <h2>Algumas informações importantes</h2>

      <div class="information-row">
        <div class="rules">
          <div class="title">
            <h2>Regras do Hotel:</h2>
          </div><!--title-->

          <ul>
            <li>Entrada: 08:00 - 11:00</li>
            <li>Saída: 12:00 - 21:00</li>
            <li>Horas de Silêncio: 22:00 - 07:00</li>
          </ul>
        </div><!--rules-->

        <div class="cancellation-policy">
          <div class="title">
            <h2>Política de Cancelamento:</h2>
          </div><!--title-->

          <ul>
            <li>48 horas: reembolso total:você recebe 100% do que pagou.</li>
            <li>7 dias: reembolso parcial: você recebe 50% por cada noite.Não reembolsado outros serviços.</li>
            <li>24 horas: sem reembolso.</li>
          </ul>
        </div><!--cancellation-policy-->
      </div><!--information-row-->
    </section><!--informations-->
  </main>

  <footer>
    <app-footer (enviarDadosDepoiments)="depoiments()" (enviarDadosAccommodation)="accommodation()"></app-footer>
  </footer>
</div><!--index-container-->
