<div class="index-container">
  <header>
    <app-header></app-header>
  </header>

  <main>
    <section class="welcome">
      <h1>HOTEL PRAIANO</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem perferendis quibusdam dolorum qui totam id aliquid eius minus, eveniet in sit voluptatem quisquam inventore nam consequuntur quod, sunt voluptate corporis.</p>
      <span>Veja mais <fa-icon [icon]="chevronDown"></fa-icon></span>
    </section><!--welcome-->

    <section class="welcome-more">
      <img src="" alt="">

      <h2>Fique Mais,Pague Menos!</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dignissimos aliquam repudiandae, unde debitis eligendi natus labore suscipit laudantium qui architecto eum mollitia asperiores sit quo, perferendis ipsam! Commodi, numquam!</p>
    </section><!--welcome-more-->

    <section class="accommodations">
      <div class="our-accommodations">
        <div class="title">
          <h2>Algumas de nossas acomodações incluidas:</h2>
        </div><!--title-->

        <div class="types_of_accommodations">
          <div class="type-single">
            <fa-icon></fa-icon>
            <span>Wifi Gratuito</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
            <span>Estacionamento de bicicletas gratuito</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon></fa-icon>
            <span>Permitido pets</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon></fa-icon>
            <span>Café da Manhã</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon></fa-icon>
            <span>Comodidades para fazer café/chá em todos quartos</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon></fa-icon>
            <span>Ar condicionado</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon></fa-icon>
            <span>Todas casas com suítes</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon></fa-icon>
            <span>Restaurante/Bar</span>
          </div><!--type-single-->

          <div class="type-single">
            <fa-icon></fa-icon>
            <span>Facilidades para pessoas com deficiência</span>
          </div><!--type-single-->
        </div><!--types_of_accommodations-->
      </div><!--our-accommodations-->

      <aside>
        <img src="" alt="">
      </aside>
    </section><!--accommodations-->

    <section class="depoiments">
      <h2>Depoimento de nossos clientes</h2>

      <div class="row">
        <span><fa-icon></fa-icon> 4.8 / 5 </span>

        <button type="button">Veja todos os 44 comentários</button>
      </div><!--row-->

      <div class="comments">
        <div class="comments-single">
          <div class="name">
            <h3>Tara</h3>
          </div><!--name-->
          <div class="date">
            <p>22 Maio,2023</p>
          </div><!--date-->

          <div class="comment">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut recusandae impedit ab accusantium? Rem autem officia sed obcaecati, animi amet esse laborum laudantium, nemo eius dolorem, quam illum quaerat.</p>
          </div><!--comment-->

          <div class="stars">
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
          </div><!--stars-->
        </div><!--comments-single-->

        <div class="comments-single">
          <div class="name">
            <h3>Tara</h3>
          </div><!--name-->
          <div class="date">
            <p>22 Maio,2023</p>
          </div><!--date-->

          <div class="comment">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut recusandae impedit ab accusantium? Rem autem officia sed obcaecati, animi amet esse laborum laudantium, nemo eius dolorem, quam illum quaerat.</p>
          </div><!--comment-->

          <div class="stars">
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
          </div><!--stars-->
        </div><!--comments-single-->

        <div class="comments-single">
          <div class="name">
            <h3>Tara</h3>
          </div><!--name-->
          <div class="date">
            <p>22 Maio,2023</p>
          </div><!--date-->

          <div class="comment">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut recusandae impedit ab accusantium? Rem autem officia sed obcaecati, animi amet esse laborum laudantium, nemo eius dolorem, quam illum quaerat.</p>
          </div><!--comment-->

          <div class="stars">
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
          </div><!--stars-->
        </div><!--comments-single-->

        <div class="comments-single">
          <div class="name">
            <h3>Tara</h3>
          </div><!--name-->
          <div class="date">
            <p>22 Maio,2023</p>
          </div><!--date-->

          <div class="comment">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut recusandae impedit ab accusantium? Rem autem officia sed obcaecati, animi amet esse laborum laudantium, nemo eius dolorem, quam illum quaerat.</p>
          </div><!--comment-->

          <div class="stars">
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
            <fa-icon></fa-icon>
          </div><!--stars-->
        </div><!--comments-single-->
      </div><!--comments-->
    </section><!--depoiments-->

    <section class="location">
      <h2>Aonde estamos:</h2>

      <p><fa-icon></fa-icon> Itacimirim,Camaçari-Bahia</p>

      <div id="map"></div><!--map-->
    </section><!--location-->

    <section class="informations">
      <h2>Algumas informações importantes</h2>

      <div class="rules">
        <div class="title">
          <h2>Regras do Hotel:</h2>
        </div><!--title-->

        <ul>
          <li>Entrada: 08:00 - 11:00</li>
          <li>Saída: 12:00 - 21:00</li>
          <li>Horas de Silêncio: 22:00 - 07:00</li>
        </ul>
      </div><!--rules-->

      <div class="cancellation-policy">
        <div class="title">
          <h2>Política de Cancelamento:</h2>
        </div><!--title-->

        <ul>
          <li>48 horas: reembolso total:você recebe 100% do que pagou.</li>
          <li>7 dias: reembolso parcial: você recebe 50% por cada noite.Não reembolsado outros serviços.</li>
          <li>24 horas: sem reembolso.</li>
        </ul>
      </div><!--cancellation-policy-->
    </section><!--informations-->
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div><!--index-container-->
