<div class="sobre-container">
  <header>
    <app-header></app-header>
  </header>

  <main>
    <section>
      <div class="historia">
        <div class="title">
          <h1>Nossa História</h1>
        </div><!--title-->

        <div class="content">
          <p>A muito tempo arás,aonde só era uma vasta orla,foi criado um condomínio,neste condomínio o terreno médio era de 8 mil metros,foi aí que se teve a ideia,de fazer um Hotel próximo a praia,com muita comodidade,segurança e diversão,de pouco a pouco a ideia foi saindo do papel e deu-se início as construções,tinhamos poucas vagas,mas a  demanda foi começando a crescer e tivemos que construir e construir mais,para que todos pudessem aproveitar com o máximo de privacidade possível,nos dias atuais,temos um enorme estacionamento,uma casa central para festas e encontros,casa de jogos,uma prainha,piscinas grandes,casas aos montes,bar,restaurante e muito espaço para transitar.</p>
        </div><!--content-->
      </div><!--historia-->
    </section>

    <section>
      <div class="vantagens">
        <div class="title">
          <h1>Vantagens de ser Praiano</h1>
        </div><!--title-->

        <ul>
          <li>● Lógico,é do lado da praia</li>
          <li>● Duas piscinas olímpicas,e um mar gigante</li>
          <li>● Diversas opções de acomodações</li>
          <li>● Preço que cabe no bolso</li>
          <li>● Segurança 24 horas</li>
          <li>● Estacionamento gratuito</li>
        </ul>

        <p>Além dessas vantagens,diversas outras dentro dos nossos pacotes de oferta,venha já conhecer nosso Hotel,e para quem já conhece,seja bem vindo de volta</p>
      </div><!--vantagens-->
    </section>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div><!--sobre-container-->
