<div class="footer-container">
  <div class="title">
    <h2>HOTEL PRAIANO</h2>
  </div><!--title-->

  <div class="content">
    <div class="explore">
      <div class="title">
        <h2>Explorar</h2>
      </div><!--title-->

      <ul>
        <li><a href="">Quartos</a></li>
        <li>
          <button type="button" (click)="depoiments()">Depoimentos</button>
        </li>
        <li>
          <button type="button" (click)="accommodation()">Acomodações</button>
        </li>
      </ul>
    </div><!--explore-->

    <div class="help">
      <div class="title">
        <h2>Ajuda</h2>
      </div><!--title-->

      <ul>
        <li><a href="">FAQ</a></li>
        <li><a href="">Políticas</a></li>
        <li><a href="">Contato</a></li>
      </ul>
    </div><!--help-->

    <div class="social">
      <div class="title">
        <h2>Redes</h2>

        <ul>
          <li><a href="">Facebook</a></li>
          <li><a href="">Instagram</a></li>
          <li><a href="">Twitter</a></li>
        </ul>
      </div><!--title-->
    </div><!--social-->

    <div class="final">
      <div class="icons">
        <fa-icon [icon]="facebook"></fa-icon>
        <fa-icon [icon]="instagram"></fa-icon>
        <fa-icon [icon]="twitter"></fa-icon>
      </div><!--icons-->

      <div class="declaration-final">
        <p>COPYRIGHT © HOTEL PRAIANO 2024 TODOS DIREITOS RESERVADOS</p>
      </div><!--declaration-final-->
    </div><!--final-->
  </div><!--content-->
</div><!--footer-container-->
